:root{
    --main-color: #5300c8;
    --color-titulo-producto: #e5e5e5;
    --color-borde: #bfbfbf;
}


@media(min-width:360px) and (max-width:759px){
    .productos{
        display: inline-flex;
        flex-wrap: wrap;
        margin: 20px 20px 20px 20px;
        box-shadow: -7px -12px 10px 0px rgba(191,191,191,1);
        width: 71%;
        height: 550px;
        background-color: #fef6f6;
        overflow: scroll;
        margin-left: 60px;
    }
    .productos__titulo{
        font-size: 39px;
        margin-left: 59px;
        color: var(--main-color);
        height: 70px;
    }

    .descripcion-producto{
        display:grid;
        gap: 2rem;
        margin: 1px;
        width: 130%;
        background-color: var(--main-color);
        border: solid 3px black; 
        color: var(--color-titulo-producto);
    }
}

@media(min-width:759px) and (max-width:1000px){
    .productos{
        margin: 20px;
        width:670px;
    }
    .descripcion-producto{
        margin: 40px;
    }
}
